
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>&lt;no title&gt; &#8212; NBA Data Visualization 1.0 documentation</title>
    <link rel="stylesheet" href="../_static/alabaster.css" type="text/css" />
    <link rel="stylesheet" href="../_static/pygments.css" type="text/css" />
    <script type="text/javascript">
      var DOCUMENTATION_OPTIONS = {
        URL_ROOT:    '../',
        VERSION:     '1.0',
        COLLAPSE_INDEX: false,
        FILE_SUFFIX: '.html',
        HAS_SOURCE:  true,
        SOURCELINK_SUFFIX: '.txt'
      };
    </script>
    <script type="text/javascript" src="../_static/jquery.js"></script>
    <script type="text/javascript" src="../_static/underscore.js"></script>
    <script type="text/javascript" src="../_static/doctools.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
    <link rel="index" title="Index" href="../genindex.html" />
    <link rel="search" title="Search" href="../search.html" />
   
  <link rel="stylesheet" href="../_static/custom.css" type="text/css" />
  
  
  <meta name="viewport" content="width=device-width, initial-scale=0.9, maximum-scale=0.9" />

  </head>
  <body>
  

    <div class="document">
      <div class="documentwrapper">
        <div class="bodywrapper">
          <div class="body" role="main">
            
  <p>1. Feedback and decisions Based upon your notes from the technical review, synthesize the feedback you received addressing your key questions. How do you plan to incorporate it going forward? What new questions did you generate?
Working separately and integrating our work
* Schedule at least 1 consistent meeting a week to briefly get on the same page
* Work in separate files as much as possible
* Always pull before editing
* Keep FB Messenger chat active
Designing for web app integration
* Split up into back and front end (potentially learn about and utilize a web database)
* File paths should be named relative to one another and without referencing local files.
* Do the webapp toolbox
Updating data
* Have set times to update (at low traffic times)
* Refer to old data set until new one is active (so slow loading doesn’t affect usability)
* Don’t reconstruct entire data set, just pull new information (potentially use timestamp as indicator)
File formats for integrating with web app
* Check out Firebase
* Learn about implementing a database (SQL)
Technical Suggestions
* Get familiar with web apps and integration before getting started
* Pygame isn’t ideal for dataviz (Mark)
Feature Recommendations
* Expand this to include statistics from other sports</p>
<ol class="arabic simple">
<li>Review process reflection How did the review go? Did you get answers to your key questions? Did you provide too much/too little context for your audience? Did you stick closely to your planned agenda, or did you discover new things during the discussion that made you change your plans? What could you do next time to have an even more effective technical review?</li>
</ol>
<p>The review went very well, and we were able to get to all of our most important questions. In the future we could probably spend less time on the introduction and just dive right into our concerns and questions, because now our audience hopefully understands a little bit of context around our project. We stuck to our agenda very closely and didn’t have any reason to go off topic based off of peer comments or reactions, because there wasn’t much of a back and forth conversation. Next time, we would hope to have a little bit more oral feedback, even though the feedback we got on our form was also helpful.</p>


          </div>
        </div>
      </div>
      <div class="sphinxsidebar" role="navigation" aria-label="main navigation">
        <div class="sphinxsidebarwrapper">
<h1 class="logo"><a href="../index.html">NBA Data Visualization</a></h1>








<h3>Navigation</h3>

<div class="relations">
<h3>Related Topics</h3>
<ul>
  <li><a href="../index.html">Documentation overview</a><ul>
  </ul></li>
</ul>
</div>
<div id="searchbox" style="display: none" role="search">
  <h3>Quick search</h3>
    <form class="search" action="../search.html" method="get">
      <div><input type="text" name="q" /></div>
      <div><input type="submit" value="Go" /></div>
      <input type="hidden" name="check_keywords" value="yes" />
      <input type="hidden" name="area" value="default" />
    </form>
</div>
<script type="text/javascript">$('#searchbox').show(0);</script>
        </div>
      </div>
      <div class="clearer"></div>
    </div>
    <div class="footer">
      &copy;2018, Maya Calabria, Bryce Mann, Juan Carlos del Rio.
      
      |
      Powered by <a href="http://sphinx-doc.org/">Sphinx 1.6.3</a>
      &amp; <a href="https://github.com/bitprophet/alabaster">Alabaster 0.7.10</a>
      
      |
      <a href="../_sources/ClassMaterials/AR discussion synthesis.txt"
          rel="nofollow">Page source</a>
    </div>

    

    
  </body>
</html>