<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
h1,h2,h3,p {text-align:center;}
h1,h2,h3,p {color:white;}
h1,h2,h3,p {font-family: "Courier New",Courier,monospace;}
h2,h3,p {font-weight:normal;}
body {
    background-color: rgba(0, 50, 230, 1);
    height:100%;
    margin:70px;
}

</style>
</head>
<body>

<h1>NBA Shot Data Visualization</h1>
<h2>Maya Calabria, Juan Carlos Del Rio, Bryce Mann<h2>
<h3>Olin College of Engineering SP2018 Software Design Final Project<h3>

<form action="/backend" method="POST">
 <input type="submit" name="choice" value="More Project Information">
 <input type="submit" name="choice" value="Interactive Visualization Tool"><br>
</form>

<p>
There is an immense amount of sports data online nowadays, but it can be hard to
parse, and challenging to access. We’ve created an interactive data
visualization tool for basketball fans. Our heatmaps allow the user to see how
players and teams compare to league averages in both frequency and
accuracy of shots taken.
</p>

<img src="/images/home_page_img.jpg" alt='steph' width="500" height="377">

</body>
</html>
